//*************************
//** COLORS
//************************

// Colors
$black: #000;
$blackish: #151F26;
$grayer: #151F26;
$gray: #72848E;
$gray-light: #C3D1D9;
$whitish: #E9EEF3;
$white: #fff;

// Mass white
$mass-white: #f5f5f5;

// Primary colors
$primary-light: #8EA6B2;
$primary: #0061D5;
$primary-dark: #72848E;

//Warning colors
$red-light: #FC627A;
$red: #f92f4f;

//Card color
$card: #DDE6ED;
$card-hover: #C3D1D9;
$card-dark: #8EA6B2;

$marine-green: #0061D5;
$red-amaranth: #FC627A;
$purple-eggplant: #9c27b0;
$yellow-pear: #ffc107;

$tribe-primary: #5FC9CF;
$tribe-secondary: darken($tribe-primary, 10%);

$top-icon-color: $white;
$dropdown-color: rgba(darken($primary-dark, 20%), 1);
$code-bg: #272822;

/* Overwrite mixins */

@mixin triangled-bg {
    background: url('https://cloud.box.com/shared/static/8tiuzq99vbpmyx3sgngspmjlewwx0m1n.jpg') no-repeat center center;
    background-size: cover;
}

@mixin background-taiga {
    background: url('https://lh6.googleusercontent.com/-2l_mJ5g6j4k/VGdNZCpaERI/AAAAAAAAD2o/zCx5Z3cYv6Y/w1465-h824-no/Ultimate%2BMaterial%2BLollipop%2BCollection%2B-%2B497') no-repeat center center;
    background-size: cover;
}
