@mixin triangled-bg {
    background: url('https://cloud.box.com/shared/static/8tiuzq99vbpmyx3sgngspmjlewwx0m1n.jpg') no-repeat center center;
    background-size: cover;
}

@mixin background-taiga {
    background: url('../images/invitation_bg.jpg') no-repeat center center;
    background-size: cover;
}
